<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>399143312974-e9hi4k4peh0gql4gs8bk87s1g1khm7f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399143312974-e9hi4k4peh0gql4gs8bk87s1g1khm7f7</string>
	<key>API_KEY</key>
	<string>AIzaSyC14cwj2JY-p10y5OcbvTRxsznxRFa8svI</string>
	<key>GCM_SENDER_ID</key>
	<string>399143312974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>millionacrenest.ualocal32</string>
	<key>PROJECT_ID</key>
	<string>ua32-a7286</string>
	<key>STORAGE_BUCKET</key>
	<string>ua32-a7286.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:399143312974:ios:7aa66dd43dd7acf7</string>
	<key>DATABASE_URL</key>
	<string>https://ua32-a7286.firebaseio.com</string>
</dict>
</plist>